html(lang="en")
  head
    meta(charset="UTF-8")
    link(rel="stylesheet" href="/css/order.css")
    link(rel="stylesheet" href="/css/input.css")
    title Homepage
  body
    include ../partial/header.pug
    .main
      h1 Welcome!